/* Import design tokens */
@import '../../../tokens/globals.css';

/* Block */
.formField {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

/* Elements */
.formField__labelWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.formField__label {
  color: var(--color-secondary-700);
}

.formField__required {
  color: var(--color-error-500);
  margin-inline-start: var(--spacing-0-5);
}
